__pycache__/  

api_arabic_translation.py  

category_api_with_confidence.py  
extract-ai-att.py  

/Draft
gui_client.py

venv

.env
.gitignore
.claude/
.qodo

DOCKER_FILES.md
DOCKER_README.md

docker-start.bat
ENDPOINT_SAMPLES.md