version: '3.8'

services:
  gradproject:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gradproject-service
    ports:
      - "5000:5000"
    environment:
      - HF_TOKEN=${HF_TOKEN}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped
    networks:
      - gradproject-network

networks:
  gradproject-network:
    driver: bridge
